body
{
  background-color: #2F3336;
  color: #efefef;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

.categories
{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: center;
  padding: 0;
  padding-bottom: 10px;
}

h1
{
  font-size: 44px;
  font-weight: 400;
  color: #39a5f1;
  margin-bottom: 20px;
}

h2
{
  font-size: 20px;
  font-weight: 400;
  color: #39a5f1;
}

.contact
{
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  text-align: center;
  padding-bottom: 70px;
  margin-bottom: 50px;
}

.contact p
{
  margin-bottom: 50px;
}

.bluebutton
{
  background-color: #1c74b2;
  padding: 15px;
  color: #efefef;
  font-size: 19px;
  text-decoration: none;
  border-radius: 5px;
  min-width: 300px;
}

.bluebutton:hover
{
  background-color: #196499;
}


.socials
{
  width:100%;
  text-align: center;
  background-color: #191d21;
}

.socialdivs
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.fb
{
  width: 250px;
  height: 155px;
  float:left;
}

.fb:hover
{
  background-color: #4668b3;
}

.yt
{
  width: 250px;
  height: 155px;
  float:left;
}

.yt:hover
{
  background-color: #d94348;
}

.tw
{
  width: 250px;
  height: 155px;
  float:left;
}

.tw:hover
{
  background-color: #3095d3;
}

.gplus
{
  width: 250px;
  height: 155px;
  float:left;
}

.gplus:hover
{
  background-color: #d95333;
}

.info
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.container
{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

img
{
  height: 500px;
}
