<div *ngIf="!hidden">
    <div class="row">
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <span id="dropdownBasic1" ngbDropdownToggle><i class="material-icons">more_horiz</i></span>
                <div ngbDropdownMenu placement="top-right" class="task-actions" aria-labelledby="dropdown" >
                    <button class="dropdown-item">Edytuj zadanie</button>
                    <div class="dropdown-divider"></div>
                    <button (click)="delete()" class="dropdown-item">Usuń zadanie</button>
                </div>
            </div>
        </div>
    </div>

</div>



