<div *ngIf="!hidden">
  <div class="row project">
    <div class="col project">
      <div ngbDropdown class="d-inline-block">
        <span id="dropdownBasic1" ngbDropdownToggle><i class="material-icons" style="padding-top:2px;">more_horiz</i></span>
        <div ngbDropdownMenu placement="top-right" class="task-actions" aria-labelledby="dropdown" >
          <button class="dropdown-item" (click)="edit()">Edytuj projekt</button>
          <div class="dropdown-divider"></div>
          <button (click)="delete()" class="dropdown-item">Usuń projekt</button>
        </div>
      </div>
    </div>
  </div>

</div>




