  <nav class="navbar fixed-top topnav">
    <ul class="menu">
      <div class="leftmenu">
        <li><a href="#">USTAWIENIA</a></li>
      </div>

      <div class="rightmenu">
        <li class="botton"><a href="#">Wyloguj</a></li>
        <div style="clear:both"></div>
      </div>
    </ul>

  </nav>


<section>
  <header>
    <nav>
      <ul class="mainmenu">
        <li><a [routerLink]="['profile']" >PROFIL</a></li>
        <li><a href="#">HASŁO</a></li>
        <li><a href="#">ZDJĘCIE</a></li>
        <li><a href="#">POWIADOMIENIA</a></li>
      </ul>
      <hr/>
    </nav>
  </header>

</section>
  
  <div class="container">
    <router-outlet>
      
    </router-outlet>
  </div>